@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #E7C35B;
}
a{
    text-decoration: none;
}
.container{
    position: relative;
    width: 500px;
    background-color: #FBFBFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    transition:  1s;
    overflow: hidden;
}
.container img{
    margin-right: 10px;
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.5s;
}
.container .inputBox{
    position: relative;
    height: 35px;
    width: 100%;
    background-color: #EBEBF3;
    border-radius: 5px;
    transition: 0.5s;
}
.container .inputBox input{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: none;
    background: transparent;
    padding-left: 10px;
    outline: none;
}
i{
    color: #2424D7; font-size: 16px;
}
.container .inputBox i{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.container .links{
    position: absolute;
    top: -25px;
    right: 40px;
    display: inline-flex;
    font-size: 12px;
}
.container .links a{
    display: block;
    margin-left: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #474B52;
}
.container .links a:hover{
    color: #2424D7;
}
.container .links a i{
    padding-right: 5px;
    transition: 0.5s ease;
}
.container .links a:hover i{ 
    transform: rotate(360deg);
}
.container:focus-within .links a:nth-child(1){
    animation: drop_icon 0.5s forwards;
}
.container:focus-within .links a:nth-child(2){
    animation: drop_icon 0.7s forwards;
}
.container:focus-within .links a:nth-child(3){
    animation: drop_icon 0.9s forwards;
}
.container:focus-within .links a:nth-child(4){
    animation: drop_icon 1.1s forwards;
}
@keyframes drop_icon {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(50px);
    }
}
.container:focus-within{
    height: 130px;
    width: 550px;
}
.container:focus-within img,
.container:focus-within .inputBox{
    transform: translateY(20px);
}




