@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Rubik:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #627fff, #ff82a7);
}
    
.container .content-wrapper {
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%;   
}
.container .content-wrapper .main-content {
    width: 75%;
    height: 78%;
    padding: 10px 7%;
    border-radius: 20px;
    background: #fff;
    background: linear-gradient(to right bottom, 
        rgba(255,255,255, .7), 
        rgba(255,255,255,.3));
    z-index: 1;
    border: 1px solid #fff;
}  
.main-content .topnav {
    overflow: hidden;
    background-color: inherit;
    margin-bottom: 50px;
    margin-top: 10px;
}  
.main-content .topnav a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    float: left;
    padding: 2px 16px;
    text-align: center;
}  
.main-content .topnav .logo-brand {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: #FF6291;
} 
.main-content .topnav .logo {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}
.main-content .topnav a:not(:first-child) {
    padding: 8px 20px;
    margin-right: 5px;
}
.main-content .topnav a:hover:not(:first-child) {
    background-color: #FF6291;    
    border-radius: 3px;
    transition: all 0.3s ease;
}
.main-content .topnav a.active {
    background-color: #FF6291;
    border-radius: 3px;
    padding: 8px 20px;
    transition: all 0.3s ease;
}
.main-content .topnav .first {
    margin-right: 24%;
} 
.main-content .info {
    display: flex;
    justify-content: space-between;
    z-index: 1;
} 
.main-content .info .strengths {
    width: 60%;
    height: 30vh;
    margin-top: -10px;
    z-index: 2;
    color: #fff;
} 
.main-content .info .strengths .salutation {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 30px;
}
  

  
.main-content .info .strengths .job {
    font-size: 48px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 800;
    padding-right: 30px;
}
  
.main-content .info .strengths .job .orange-color {
    color: #FF6291;
}
  
.main-content .info .strengths .qualities {
    font-size: 18px;
    font-weight: 600;
    color: #555555;
    margin-bottom: 15px;
}
  
.main-content .info .strengths .buttons-wrapper {
    margin-top: 10px;
    z-index: 1;
}
  
.main-content .info .strengths .buttons-wrapper button {
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    outline: none;
}
  
.main-content .info .strengths .buttons-wrapper .orange-button {
    background-color: #FF6291;
    color: white;
    border: 1px solid #FF6291;
    z-index: 1;
    font-weight: 600;
    transition: all 0.3s ease;
}
  
.main-content .info .strengths .buttons-wrapper .transparent-button {
    background-color: inherit;
    border: 1px solid white;
    margin-left: 10px;
    color: white;
    z-index: 1;
    font-weight: 600;
    transition: all 0.3s ease;
}

.main-content .info .strengths .buttons-wrapper .transparent-button:hover {
    background-color: #FF6291;
    color: white;
    border: 1px solid #FF6291;
    transition: all 0.3s ease;
}
  
.main-content .info .strengths .hand-right-wrapper {
    width: 40%;
    z-index: 2;
    float: left;
    margin-left: -30px;
}
  
.main-content .info .strengths .hand-right-wrapper .hand-right {
    width: 40vw;
    height: 50vh;
    z-index: 4;
    margin-left: -31vw;
    margin-top: -17vh;
}
  
.main-content .info .strengths .hand-up-wrapper {
    width: 40%;
    z-index: 2;
    float: left;
}
  
.main-content .info .strengths .hand-up-wrapper .hand-up {
    width: 40vw;
    height: 55vh;
    z-index: 5;
    margin-left: -25vw;
    margin-top: -2vh;
}

.main-content .info .strengths .arrow-wrapper .arrow-down {
    height: 25px;
    width: 25px;
    position: relative;
    margin-top: 8vh;
    z-index: 4;
    animation: mover 0.8s infinite  alternate;   
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
  
.main-content .info .picture {
    width: 32%;
    height: 46vh;
    border: 7px solid #FF6291;
    background-color: #FF6291;
    border-radius: 50%;
    margin-right: -1px;
    z-index: 3;
}
  
.main-content .info .picture .pose-pic {
    z-index: 5;
    height: 60vh;
    float: right;
    margin: 3.7vh 2vh 0px 0px;
}

.circle1,
.circle2{

    background: #fff;
    background: linear-gradient(to right bottom, 
    rgba(255,255,255, .9), 
    rgba(255,255,255,.1));
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
}
.circle1{
    top: 5%;
    left: 1%;
}

.circle2{
    bottom: 2%;
    right: 8%;
}